<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carCompanies">






<!-- create -->

    <insert id="inserting" parameterType="Map">
                INSERT INTO factorys(COMPANY_ID, COMPANY)
                VALUES (#{COMPANY_ID}, #{COMPANY});
        </insert>



<!-- read (search) -->



<!-- read (search all) -->

<select id="searchAll" parameterType="Map"
		resultType="Map">
            SELECT * 
            FROM db_cars.factorys
            WHERE 1 = 1;
            
	</select>

<!-- update -->
<!-- delete -->


</mapper>