<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carCompanies">


<!-- 하단 오류 발생 -->
<!-- <select id="searching" parameterType="Map"
		resultType="Map">
            SELECT * 
            FROM factorys
            WHERE 1 = 1
            <choose>
                <when test="<![CDATA[ COMPANY_ID LIKE 
                CONCAT(#{name}, '%') 
                        ]]>">
                </when>
                <otherwise>
                        AND COMPANY LIKE CONCAT(#{words}, '%')
                </otherwise>
                </choose>
                ;
	</select> -->


<!-- create -->

    <insert id="inserting" parameterType="Map">
                INSERT INTO factorys(COMPANY_ID, COMPANY)
                VALUES (#{COMPANY_ID}, #{COMPANY});
        </insert>



<!-- read (search) -->



<!-- read (search all) -->

<select id="searchAll" parameterType="Map"
		resultType="Map">
            SELECT * 
            FROM db_cars.factorys
            WHERE 1 = 1;
            
	</select>

<!-- update -->



<!-- delete -->

        <update id="update" parameterType="Map">
                UPDATE factorys
                SET COMPANY_ID = #{COMPANY_ID}
                WHERE COMPANY_ID = #{COMPANY_IDD}
        </update>

</mapper>