<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carCompanies">






<!-- create -->

    <insert id="inserting" parameterType="Map">
                INSERT INTO factorys(COMPANY_ID, COMPANY)
                VALUES (#{COMPANY_ID}, #{COMPANY});
        </insert>



<!-- mybatis foreach search -->
        <select id="selectAll" parameterType="Map"
                        resultType="Map">
        SELECT * FROM db_cars.car_infors
        WHERE 1 = 1
        AND CAR_INFOR_ID IN ('CI002', 'CI004', 'CI005')

                <foreach item="item" index="index" collection="list"
                open="ID in (" separator="," close=")" nullable="true">
                #{item}
    </foreach>

        </select>

<!-- read (search) -->

<select id="searching" parameterType="Map"
		resultType="Map">
            SELECT * 
            FROM factorys
            WHERE 1 = 1
            <choose>
                <when test="<![CDATA[ COMPANY_ID LIKE 
                CONCAT(#{name}, '%') 
                        ]]>">
                </when>
                <otherwise>
                        AND COMPANY LIKE CONCAT(#{words}, '%')
                </otherwise>
                </choose>
                ;
	</select>

<!-- read (search all) -->

<select id="searchAll" parameterType="Map"
		resultType="Map">
            SELECT * 
            FROM db_cars.factorys
            WHERE 1 = 1;
            
	</select>

<!-- update -->
<!-- delete -->


</mapper>